* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  text-align: center;
}

#container {
  width: 100vw;
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;

  max-height: 100vh;
  overflow: hidden;
}

#container svg {
  width: 80%;
  height: 80%;
}

#left_fwork,
#right_fwork,
#midle_fwork {
  animation: explode 1.5s infinite ease;
  transform-origin: center;
  transform-box: fill-box;
}
#right_fwork {
  animation-delay: 0.5s;
}
#midle_fwork {
  animation-delay: 1s;
}

#man {
  animation: jumping 1.5s infinite ease;
  transform-origin: bottom;
  transform-box: fill-box;
}

#woman {
  animation: happy_walk 1.5s infinite ease;
  transform-origin: bottom;
  transform-box: fill-box;
}

@keyframes explode {
  from {
    transform: scale(0.2);
  }
  to {
    transform: scale(1);
  }
}

@keyframes jumping {
  from {
    transform: translateY(10%);
  }
  to {
    transform: translateY(0%);
  }
}

@keyframes happy_walk {
  from {
    transform: translateX(-10%) rotateZ(-5deg);
  }
  to {
    transform: translateX(0%) rotateZ(0deg);
  }
}
