* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  text-align: center;
}

#container {
  width: 100vw;
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;

  max-height: 100vh;
  overflow: hidden;
}

#container object {
  width: 80%;
  height: 80%;
}
